@model IEnumerable<Mmt.Beheer.MVC.Models.Tour>

@{
    ViewData["Title"] = "Tours Index";
}

<h1 class="text-info">Tours Index</h1>

<p class="float-right">
    <a asp-action="Create">Create New Tour</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coordinates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                <label>Curiosities : </label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Image)*@
                <img src="@item.Image" style="width:7rem" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coordinates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            
            <td>
                @{ 
                    var selectListItems = new SelectList(item.Curiosities.Select(c => c.Name));
                } 
                <select asp-for="@item.Curiosities" asp-items="@selectListItems" disabled></select>
            </td>
            <td>
                <a asp-controller="Tours" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary m-1" style="width:75px">Edit</a>
                <!--<form asp-controller="Tours" asp-action="Edit" asp-route-id="@item.Id" class="m-1">-->
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                @*<button type="submit" class="btn btn-primary" style="width:75px">Edit</button>*@
                <!--</form>-->
                <form asp-controller="Tours" asp-action="Details" asp-route-id="@item.Id" class="m-1">
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    <button type="submit" class="btn btn-info" style="width:75px">Details</button>
                </form>
                <form asp-controller="Tours" asp-action="Delete" asp-route-id="@item.Id" class="m-1">
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    <button type="submit" class="btn btn-danger" style="width:75px">Delete</button>

                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
