@model IEnumerable<Mmt.Beheer.MVC.Models.Photo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-info">Photo Index</h1>

<p class="float-right">
    <a asp-action="Create" asp-route-curiosityId="@ViewData["curiosityId"]">Create New</a>
</p>
@if (!Model.Any())
{
    <label class="text-info">no photos posted yet for curiosity with id : @ViewData["curiosityId"]</label>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CuriosityId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.photoUrl)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CuriosityId)
                    </td>
                    <td>
                        @*                @Html.DisplayFor(modelItem => item.PhotoPath)*@
                        <img src="@item.photoUrl" style="width:7rem" />

                    </td>
                    <td>
                        <!--<a asp-controller="Photos" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary m-1" style="width:75px">Edit</a>
                        <form asp-action="Details" asp-route-id="@item.Id" class="m-1">-->
                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        <!--<button type="submit" class="btn btn-info" style="width:75px">Details</button>
                        </form>-->
                        <form asp-action="Delete" asp-route-curiosityId="@item.CuriosityId" asp-route-id="@item.Id" class="m-1">
                            <button type="submit" class="btn btn-danger" style="width:75px">Delete</button>
                        </form>

                        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

}